<!doctype html>
<html ng-app="todoApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

        <script src="index.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

    </head>
    <body>
        <h2>Todo</h2>

        <div ng-controller="TodoListController as todoList" class="container">

            <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>

            [ <a href="" ng-click="todoList.archive()">archive</a> ]

            <ul class="unstyled">
                <li ng-repeat="todo in todoList.todos">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                    </label>
                </li>
            </ul>

            <form ng-submit="todoList.addTodo()">
                <input type="text" ng-model="todoList.todoText"  size="30"
                       placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
            </form>

        </div>
    </body>
</html>